@page "/Usuarios/edit"
@inject AmigoPeludo.Data.AmigoPeludoContext DB
@using AmigoPeludo.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
@if (usuario is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="usuario" OnValidSubmit="UpdateUsuario" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Usuario.id" value="@usuario.id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Meu nome:</label>
                    <InputText id="nome" @bind-Value="usuario.nome" class="form-control" />
                    <ValidationMessage For="() => usuario.nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datanascimento" class="form-label">Data de Nascimento:</label>
                    <InputDate id="datanascimento" @bind-Value="usuario.dataNascimento" class="form-control" />
                    <ValidationMessage For="() => usuario.dataNascimento" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <InputText id="senha" @bind-Value="usuario.senha" class="form-control" />
                    <ValidationMessage For="() => usuario.senha" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Salvar alterações</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <br />
    <a href="/paginaInicial">Voltar a pagina inicial</a>
    <br />
</div>

@code {
    [SupplyParameterFromQuery]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public Usuario? usuario { get; set; }

    protected override async Task OnInitializedAsync()
    {
        usuario ??= await DB.Usuario.FirstOrDefaultAsync(m => m.id == id);

        if (usuario is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateUsuario()
    {
        DB.Attach(usuario!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UsuarioExists(usuario!.id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/paginaInicial");
    }

    bool UsuarioExists(int id)
    {
        return DB.Usuario.Any(e => e.id == id);
    }
}
